body {
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes loader {
    from {
        color: rgba(255, 255, 255, 0);
    }

    to {
        color: rgba(255, 255, 255, 1);
    }
}

.loader {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 9999;
    font-size: 16pt;
    animation: loader 2s linear 0s infinite alternate;
}

#bottom {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}